.HorizontalScroll {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding: 1rem;

  @media only screen and (max-width: 1680px) {
    grid-template-columns: 1fr;
  }

  .ColumnContainer {
    display: grid;
    grid-gap: 4rem;
    justify-items: center;
    grid-template-rows: 0fr 0fr;
    grid-auto-rows: minmax(20rem, auto);
    padding-top: 4rem;

    .ColumnHeader {
      padding: 1rem 5rem;
      color: $color5;
      font-size: 1.8rem;
      background-color: $color9;
      border-radius: 0.6rem;

      @include boxShadow();
    }
  }

  .ScrollWrapper {
    width: 100%;
    padding: 1rem;
    background-color: $color5;
    border-radius: 0.6rem;

    @include boxShadow();

    .Content {
      width: 100%;
      font-size: 2rem;
    }

    .ContentHorizontal {
      width: 1200px;
      font-size: 2rem;
    }
  }
}
