.PropsContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat((2, 1fr));
  grid-gap: 2rem;
  width: 100%;

  @media only screen and (max-width: 850px) {
    grid-template-columns: 1fr;
  }

  .PropBox {
    display: grid;
    grid-template-columns: repeat((2, 1fr));
    grid-gap: 1rem;
    align-items: center;
    padding: 1rem 2rem;
    background-color: $color7;
    border-radius: 0.6rem;

    @include boxShadow();
  }

  .PropLabel {
    color: $color5;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }
}

/* Scroll className */
.ScrollLightGrey {
  padding-right: 4rem;
  background-color: $color11;
}

.ScrollLightBlue {
  padding-right: 4rem;
  background-color: $color8;
}

.ScrollTransparent {
  padding-right: 4rem;
}

/* Horizontal */
.ScrollLightGreyHorizontal {
  position: relative;
  padding-bottom: 4rem;
  background-color: $color11;
}

.ScrollLightBlueHorizontal {
  position: relative;
  padding-bottom: 4rem;
  background-color: $color8;
}

.ScrollTransparentHorizontal {
  position: relative;
  padding-bottom: 4rem;
}
/* Horizontal */

/* Scroll className */

/* Scroll containerClass */
.ScrollContainerBorder {
  box-sizing: border-box;
  border: 0.1rem solid $color10;
  border-radius: 0.6rem;
}

.ScrollContainerNoBorder {
  border: unset;
}
/* Scroll containerClass */

/* Scroll scrollerClass */
.ScrollerLightBlue {
  right: 0.3rem;
  width: 0.8rem;
  background-color: $color8;
  border-radius: 0.3rem;
}

.ScrollerDarkBlue {
  right: 0.3rem;
  width: 0.8rem;
  background-color: $color9;
  border-radius: 0.3rem;
}

/* Horizontal */
.ScrollerLightBlueHorizontal {
  position: absolute !important;
  bottom: 0.2rem;
  z-index: 1000;
  height: 0.8rem;
  background-color: $color8;
  border-radius: 0.3rem;
}

.ScrollerDarkBlueHorizontal {
  position: absolute !important;
  bottom: 0.2rem;
  z-index: 1000;
  height: 0.8rem;
  background-color: $color9;
  border-radius: 0.3rem;
}
/* Horizontal */
/* Scroll scrollerClass */

/* Scroll trackClass */
.TrackLight {
  right: 0;
  width: 1.4rem;
  background-color: $color11;
  cursor: pointer;
}

.TrackDark {
  right: 0;
  width: 1.4rem;
  background-color: $color16;
  cursor: pointer;
}
/* Scroll trackClass */
